In [2]:
import pandas as pd
import numpy as np
import sqlite3
import os

In [3]:
crime_rate=pd.read_csv (r'./crime_rate_Spain.csv')

In [4]:
crime_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Location     672 non-null    object
 1   Year         672 non-null    int64
 2   Crime        672 non-null    object
 3   Total cases  672 non-null    int64
dtypes: int64(2), object(2)
memory usage: 21.1+ KB

In [5]:
crime_rate.head()

,Location,Year,Crime,Total cases
0,Barcelona,2021,Intentional homicides and consummated murders,36
1,Barcelona,2021,Intentional homicides and attempted murders,137
2,Barcelona,2021,Serious and less serious crimes of injuries an...,2161
3,Barcelona,2021,Kidnapping,8
4,Barcelona,2021,Crimes against freedom and sexual indemnity,2406

In [6]:
crime_rate.describe()

              Year    Total cases
count   672.000000     672.000000
mean   2020.000000    5786.104167
std       0.817105   21325.054204
min    2019.000000       0.000000
25%    2019.000000      39.750000
50%    2020.000000     326.500000
75%    2021.000000    1779.250000
max    2021.000000  205312.000000