In [23]:
pip install psycopg

Requirement already satisfied: psycopg in c:\users\j\miniconda3\envs\ramp_up_py395\lib\site-packages (3.1.9)
Requirement already satisfied: typing-extensions>=4.1 in c:\users\j\miniconda3\envs\ramp_up_py395\lib\site-packages (from psycopg) (4.5.0)
Requirement already satisfied: tzdata in c:\users\j\miniconda3\envs\ramp_up_py395\lib\site-packages (from psycopg) (2023.3)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import sqlite3
import numpy as np
import pandas as pd
import psycopg2

In [19]:
conn = sqlite3.connect('PRA1.db')

In [20]:
cursor = conn.cursor()

In [21]:
q=""" 
 SELECT * FROM sqlite_master WHERE type = "table";
 """
df = pd.read_sql(q, conn)
df

DatabaseError: Execution failed on sql '
 SELECT * FROM sqlite_master WHERE type = "table";
 ': file is not a database

In [22]:
cursor.execute("SELECT * FROM CUSTOMER")

DatabaseError: file is not a database

In [11]:
q=""" 
SELECT *
FROM customer
WHERE cost_name LIKE 'AGR%'
"""
df = pd.read_sql(q, conn)
df

DatabaseError: Execution failed on sql '
SELECT *
FROM customer
WHERE cost_name LIKE 'AGR%'
': file is not a database