In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math

In [2]:
# Vamos a generar una semilla aleatoria
np.random.seed(123)

### T-test de una muestra

¿La población de Granada tiene X edad de media?
$$H_0: \mu = X$$
$$H_1: \mu \neq X$$

el p-valor que lo tendremos con un número va a ser por defecto 0.05

In [4]:
poblacion1 = stats.poisson.rvs(loc=18, mu=35, size=150000)
poblacion2 = stats.poisson.rvs(loc=18, mu=10, size=100000)
poblacion = np.concatenate((poblacion1, poblacion2))

Granada1 = stats.poisson.rvs(loc=18, mu=30, size=30)
Granada2 = stats.poisson.rvs(loc=18, mu=9, size=20)
Granada = np.concatenate((Granada1, Granada2))

print( poblacion.mean() )
print( Granada.mean() )

43.010108
39.76

Usamos distinto $\mu$ para que las medias sean diferentes, para ver si rechazamos la hipotesis nula de que la miestra proviene de la musma distribucion

In [5]:
stat, p_valor=stats.ttest_1samp(a= Granada,               # Muestra
                 popmean= poblacion.mean())  # Media de la poblacion

In [6]:
if p_valor <0.05:
    print("Rechazamos la hipotesis nula")
else:
    print("No podemos rechazar la hipotesis nula")

Rechazamos la hipotesis nula

### T-test de dos muestras

Vamos a ver si las medias de dos muestras independietes difieren entre sí. 
$$\begin{array}{rl}
H_0: & \mu_1=\mu_2\\
H_1: & \mu_1 \neq \mu_2
\end{array}$$

In [7]:
Malaga1 = stats.poisson.rvs(loc=18, mu=33, size=30)
Malaga2 = stats.poisson.rvs(loc=18, mu=11, size=20)
Malaga = np.concatenate((Malaga1, Malaga2))
print( Malaga.mean() )

40.66

In [8]:
stats.ttest_ind(a= Granada,
                b= Malaga,
                equal_var=False)  ## No sabemos si la varianza es la misma

Ttest_indResult(statistic=-0.385548829078827, pvalue=0.7006685489120184)

### T-Test Pareado

In [9]:
np.random.seed(234)

Peso_precovid= stats.norm.rvs(scale=30, loc=250, size=100)

Peso_postcovid = Peso_precovid + stats.norm.rvs(scale=5, loc=-1.25, size=100)

Peso = pd.DataFrame({"Peso_precovid":Peso_precovid,
                          "Peso_postcovid":Peso_postcovid,
                          "Cambio":Peso_postcovid-Peso_precovid})

Peso.describe()             #

       Peso_precovid  Peso_postcovid      Cambio
count     100.000000      100.000000  100.000000
mean      254.546225      253.305400   -1.240825
std        30.605118       30.431800    4.543069
min       156.133461      165.157534  -13.220881
25%       233.030878      229.308547   -4.655543
50%       255.916722      253.187902   -1.177421
75%       277.262135      276.311201    1.399965
max       324.379890      325.717303    9.108556

In [10]:
stats.ttest_rel(Peso_precovid,Peso_postcovid)

Ttest_relResult(statistic=2.731248439217908, pvalue=0.007471259815871428)