In [3]:
import pandas as pd
import numpy as np
import sqlite3
import os
import re

* 13 csv

In [4]:
circuits=pd.read_csv(r'./circuits.csv')
constructor_results=pd.read_csv(r'./constructor_results.csv')
constructor_standings=pd.read_csv(r'./constructor_standings.csv')
driver_standings=pd.read_csv(r'./driver_standings.csv')
drivers=pd.read_csv (r'./drivers.csv')
lap_times=pd.read_csv(r'./lap_times.csv')
pit_stops=pd.read_csv(r'./pit_stops.csv')
qualifying=pd.read_csv(r'./qualifying.csv')
races=pd.read_csv(r'./races.csv')
results=pd.read_csv(r'./results.csv')
seasons=pd.read_csv(r'./seasons.csv')
sprint_results=pd.read_csv(r'./sprint_results.csv')
status=pd.read_csv(r'./status.csv')

In [5]:
status[status.status.str.contains("[Tt]yre")]
# usar regex para filtrar valores de columnas

# otra forma
status.query('status.str.contains("[Tt]yre")')

    statusId         status
26        27           Tyre
58        59  Tyre puncture

In [6]:
pit_stops.time= pd.to_datetime(pit_stops.time)

C:\Users\j\AppData\Local\Temp\ipykernel_18248\568064965.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pit_stops.time= pd.to_datetime(pit_stops.time)

In [7]:
races11_23=races[["year", "raceId"]][races.raceId>841]
# seleccionar carreras desde el 2011 en adelante, cuando cambió la norma y por seguridad ya no se permite repostaje

* DataFrame: statusId1 
* df filtrar results09_23 por statusId=1. *Conductores que han terminado la carrera*

In [8]:
# statusId1 
# df filtrar results09_23 por statusId=1. *Conductores que han terminado la carrera*

statusId1 = results09_23[results09_23.statusId==1]
statusId1.sample(2)

NameError: name 'results09_23' is not defined

In [ ]:
status[status.statusId==11]

     statusId          status
0           1        Finished
1           2    Disqualified
2           3        Accident
3           4       Collision
4           5          Engine
..        ...             ...
134       137          Damage
135       138          Debris
136       139         Illness
137       140       Undertray
138       141  Cooling system

[139 rows x 2 columns]

In [ ]:
# CARRERAS DONDE ALONSO HA SIDO 1º 2º o 3º
alonso_1_2_3=results[["raceId","driverId", "position"]].groupby("driverId").get_group(4)[(results.position=="1")|(results.position=="2")|(results.position=="3")]
alonso_1_2_3

NameError: name 'results' is not defined

In [ ]:
results.groupby("driverId").size()

NameError: name 'results' is not defined

In [14]:
r=pd.merge(results, pit_stops, on=["raceId", "driverId"])

In [16]:
r.sample(4)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,stop,lap,time_y,duration,milliseconds_y
1982,21678,878,814,10,11,13,15,15,15,0.0,...,55,9,1:40.594,197.296,11,2,30,2023-06-22 13:56:45,22.444,22444
542,20982,849,814,10,15,6,15,15,15,0.0,...,48,16,1:37.936,216.545,11,3,26,2023-06-22 13:50:52,31.471,31471
8737,25355,1051,20,117,5,10,10,10,10,1.0,...,53,7,1:26.434,224.078,11,1,26,2023-06-22 17:43:20,25.726,25726
6696,24127,1006,822,131,77,3,5,5,5,10.0,...,46,4,1:38.470,201.551,1,1,23,2023-06-22 13:53:07,23.478,23478