In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

| Puntuación| Frecuencia|
|----|----|
| 7| 1 |
| 9| 2 |
| 10| 4|
| 11| 2|
| 13| 1|


| Puntuación| Frecuencia|
|----|----|
| 7 | 1 |
| 8 | 1 |
| 9| 2 |
| 10| 2|
| 11| 2|
| 12| 1|
| 13| 1|

| Puntuación| Frecuencia|
|----|----|
| 3 | 2 |
| 6 | 1 |
| 7 | 2 |
| 10| 3 |
| 11| 1 |
| 13| 1 |
| 30| 1 |

In [3]:
baloncesto = pd.DataFrame()

In [4]:
baloncesto["jugador"]=[1,1,1,1,1,2,2,2,2,2,2,2,3,3,3,3,3,3,3]

In [5]:
baloncesto

    jugador
0         1
1         1
2         1
3         1
4         1
5         2
6         2
7         2
8         2
9         2
10        2
11        2
12        3
13        3
14        3
15        3
16        3
17        3
18        3

In [6]:
baloncesto["puntuacion"]=[7,9,10,11,13,7,8,9,10,11,12,13,3,6,7,10,11,13,30]

In [7]:
baloncesto["frecuencia"]=[1,2,4,2,1,1,1,2,2,2,1,1,2,1,2,3,1,1,1]

In [8]:
baloncesto

    jugador  puntuacion  frecuencia
0         1           7           1
1         1           9           2
2         1          10           4
3         1          11           2
4         1          13           1
5         2           7           1
6         2           8           1
7         2           9           2
8         2          10           2
9         2          11           2
10        2          12           1
11        2          13           1
12        3           3           2
13        3           6           1
14        3           7           2
15        3          10           3
16        3          11           1
17        3          13           1
18        3          30           1

In [10]:
baloncesto.groupby("jugador")["puntuacion"].agg("mean")

jugador
1    10.000000
2    10.000000
3    11.428571
Name: puntuacion, dtype: float64

In [12]:
baloncesto[baloncesto.puntuacion!=30].groupby("jugador")["puntuacion"].agg("mean")

jugador
1    10.000000
2    10.000000
3     8.333333
Name: puntuacion, dtype: float64

In [14]:
baloncesto[baloncesto.frecuencia>1].groupby("jugador")["puntuacion"].agg("mean")

jugador
1    10.000000
2    10.000000
3     6.666667
Name: puntuacion, dtype: float64

In [15]:
baloncesto.groupby("jugador")["puntuacion"].agg("median")

jugador
1    10.0
2    10.0
3    10.0
Name: puntuacion, dtype: float64

In [21]:
baloncesto.groupby("jugador")["frecuencia"].agg("max")

jugador
1    4
2    2
3    3
Name: frecuencia, dtype: int64

In [29]:
desv=baloncesto.groupby("puntuacion")["puntuacion"].agg("std")

In [30]:
desv

puntuacion
3     NaN
6     NaN
7     0.0
8     NaN
9     0.0
10    0.0
11    0.0
12    NaN
13    0.0
30    NaN
Name: puntuacion, dtype: float64