In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

| Puntuaci贸n| Frecuencia|
|----|----|
| 7| 1 |
| 9| 2 |
| 10| 4|
| 11| 2|
| 13| 1|


| Puntuaci贸n| Frecuencia|
|----|----|
| 7 | 1 |
| 8 | 1 |
| 9| 2 |
| 10| 2|
| 11| 2|
| 12| 1|
| 13| 1|

| Puntuaci贸n| Frecuencia|
|----|----|
| 3 | 2 |
| 6 | 1 |
| 7 | 2 |
| 10| 3 |
| 11| 1 |
| 13| 1 |
| 30| 1 |

* media
* mediana
* dispersion. Rango de puntos
* desviacion tipica/varianza
* coeficiente de variaci贸n. desviacion tipica/valor absoluto de la media (como estan los datos de dispersos, cuanto mas cercanos a 0, menos dispersos)
$$ \cfrac{S}{\ |bar{x}|}  $$

* rango intercuartilico $Q_3 -Q_1$
*diagrama box-plot (caja y bigotes)

In [3]:
baloncesto = pd.DataFrame()

In [4]:
baloncesto["jugador"]=[1,1,1,1,1,2,2,2,2,2,2,2,3,3,3,3,3,3,3]

In [6]:
baloncesto["puntuacion"]=[7,9,10,11,13,7,8,9,10,11,12,13,3,6,7,10,11,13,30]

In [7]:
baloncesto["frecuencia"]=[1,2,4,2,1,1,1,2,2,2,1,1,2,1,2,3,1,1,1]

In [8]:
baloncesto

    jugador  puntuacion  frecuencia
0         1           7           1
1         1           9           2
2         1          10           4
3         1          11           2
4         1          13           1
5         2           7           1
6         2           8           1
7         2           9           2
8         2          10           2
9         2          11           2
10        2          12           1
11        2          13           1
12        3           3           2
13        3           6           1
14        3           7           2
15        3          10           3
16        3          11           1
17        3          13           1
18        3          30           1

In [10]:
baloncesto.groupby("jugador")["puntuacion"].agg("mean")

jugador
1    10.000000
2    10.000000
3    11.428571
Name: puntuacion, dtype: float64

In [12]:
baloncesto[baloncesto.puntuacion!=30].groupby("jugador")["puntuacion"].agg("mean")

jugador
1    10.000000
2    10.000000
3     8.333333
Name: puntuacion, dtype: float64

In [14]:
baloncesto[baloncesto.frecuencia>1].groupby("jugador")["puntuacion"].agg("mean")

jugador
1    10.000000
2    10.000000
3     6.666667
Name: puntuacion, dtype: float64

In [15]:
baloncesto.groupby("jugador")["puntuacion"].agg("median")

jugador
1    10.0
2    10.0
3    10.0
Name: puntuacion, dtype: float64

In [21]:
baloncesto.groupby("jugador")["frecuencia"].agg("max")

jugador
1    4
2    2
3    3
Name: frecuencia, dtype: int64

In [29]:
desv=baloncesto.groupby("puntuacion")["puntuacion"].agg("std")

In [30]:
desv

puntuacion
3     NaN
6     NaN
7     0.0
8     NaN
9     0.0
10    0.0
11    0.0
12    NaN
13    0.0
30    NaN
Name: puntuacion, dtype: float64

## revision ejercicio

* media
* mediana
* dispersion. Rango de puntos
* desviacion tipica/varianza
* coeficiente de variaci贸n. desviacion tipica/valor absoluto de la media (como estan los datos de dispersos, cuanto mas cercanos a 0, menos dispersos)
$$ \cfrac{S}{\ |bar{x}|}  $$

* rango intercuartilico $Q_3 -Q_1$
*diagrama box-plot (caja y bigotes)

In [32]:
j1=pd.DataFrame({'Puntuacion':[7,9,10,11,13], 'Frecuencia':[1,2,4,2,1]})

In [33]:
j1

   Puntuacion  Frecuencia
0           7           1
1           9           2
2          10           4
3          11           2
4          13           1

In [36]:
j1["xn"]=j1["Puntuacion"]*j1["Frecuencia"]
j1

   Puntuacion  Frecuencia  xn
0           7           1   7
1           9           2  18
2          10           4  40
3          11           2  22
4          13           1  13

In [39]:
media_j1=j1["xn"].sum()/j1["Frecuencia"].sum()

In [41]:
j1["xn"].cumsum()   #mediana

0      7
1     25
2     65
3     87
4    100
Name: xn, dtype: int64

In [69]:
# mejor opcion

j={"j1":[7,9,9,10,10,10,10,11,11,13,np.nan],
                        "j2":[7,8,9,9,10,10,11,11,12,13],
                        "j3":[3,3,6,7,7,10,10,10,11,13,30]}
j

{'j1': [7, 9, 9, 10, 10, 10, 10, 11, 11, 13, nan],
 'j2': [7, 8, 9, 9, 10, 10, 11, 11, 12, 13],
 'j3': [3, 3, 6, 7, 7, 10, 10, 10, 11, 13, 30]}

In [70]:
jug=pd.DataFrame(j)
jug

TypeError: 'dict' object is not callable

In [63]:
# std/mean

In [65]:
j.describe()

AttributeError: 'dict' object has no attribute 'describe'

In [62]:
j.boxplot()

AttributeError: 'dict' object has no attribute 'boxplot'