In [2]:
import pandas as pd

In [46]:
df = pd.DataFrame({'team': ['Mavs', 'Lakers', 'Spurs', 'Celtics', 'Warriors', 'Mavs', 'Suns'],
                   'points': [11, 7, 8, 10, 13, 11, 13],
                   'assists': [5, 7, 7, 9, 12, 7, 9],
                   'rebounds': [11, 8, 10, 6, 6, 9, 5]})

In [47]:
df

       team  points  assists  rebounds
0      Mavs      11        5        11
1    Lakers       7        7         8
2     Spurs       8        7        10
3   Celtics      10        9         6
4  Warriors      13       12         6
5      Mavs      11        7         9
6      Suns      13        9         5

In [53]:
a=df[df.team=="Mavs"].index
# indice de las columnas con team=Mavs: 0 y la 5
a

Index([0, 5], dtype='int64')

In [55]:
len(a)

2

In [54]:
len(df[df.team=="Mavs"].index)

2